.color-picker-container {
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

.color-display {
    width: 60%;
    margin: auto;
    height: 15rem;
    margin-bottom: 1rem;
    border: solid 2px rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    transition: 0.25s ease;
}

